@charset "UTF-8";
@import "style.css";
/* CSS Document */

h2{
	font-family: limelight;
	color: #dba428;
	font-size: 30px;
	margin-bottom: 30;
}

/* OBERER PART */
#top_section{
		width: 960px;
}

#title_margin{
	margin-bottom: 35px;
}
/* KONTAKT LINKS */
#kontakt{
		width: 263px;
		float: left;
		font-family: ext_Montserrat, Montserrat;
		color: white;
		font-size: 16px;
		margin-left: 70px;
		margin-right: 220px;
		margin-top: 40px;
}

/* ZEITEN RECHTS */
#zeiten{
	width: 350px;
	float: left;
	margin-top: 40px;
	font-family:ext_Montserrat, Montserrat;
	color: white;
}
/* alternativ hättest du auch anstadt der beiden "_headline" divs auch eins machen
so machen können: */

/* td {} braucht man nicht */

/* kürzere schreibweise bei der man sagt alles in der spalte x ist y*/
tr td:nth-child(1){
	width: 220px;
	height: 45px;
}

tr td:nth-child(2){
	font-family: ext_Montserrat_bold, Montserrat_bold;
}

#kueche{
	font-family:ext_Montserrat_bold, Montserrat_bold;
}

#text_zeiten{
	margin-top: 30px;
}

/* ANFAHRT UNTEN LINKS */
#anfahrt{
	margin-top: 80px;
	width: 260px;
	margin-left: 70px;
	margin-right: 220px;
	float:left; 
}

#Karte_Bild{
	width: 319px;
	height: 345px;
}

/* ANMELDUNG UNTEN RECHTS */
#anmeldung{
	margin-top: 80px;
	width: 320px;
	float:left;
}

/*==========================================*/
/*==========================================*/


#select-wrap {
	background:black;
	border: 3px solid #dba428;
	border-radius: 3px;
    height: 40px;
    width: 100%;
    color: #dba428;
    overflow: hidden;
    position: relative;
}

#select-wrap:after{
	content: "▶";
	padding: 12px 8px;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 1;
	text-align: center;
	width: 10%;
	height: 100%;
}

/* remove default caret for ie */
select::-ms-expand {
	display:none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	font-size: 18px;
	width: 100%;
	height: 38px;
	font-family: ext_Montserrat, Montserrat;
	background-color: black;
	border-color: #dba428;
	color: #dba428;
	text-align-last: center;
}

option{
	border-color: #dba428;
	box-sizing: border-box;
	font-family: ext_Montserrat, Montserrat;
}

/*==========================================*/
/*==========================================*/

form{
	margin-top: 80px;
}

label{
	font-family: ext_Montserrat, Montserrat;
	color: white;
	font-size: 18px;
}

input{
	width: 320px;
	height: 25px;
	border-color: #dba428;
	border-width: 2px;
}

textarea{
	width: 320px;
	height: 230px;
	border-color: #dba428;
	border-width: 2px;
}

button{
	margin-top: 30px;
	font-family: montserrat;
	font-size: 14px;
	color: #dba428;
	border-color: #dba428;
	background-color: black;
	
}