@charset "UTF-8";
@import 'style.css';
/* CSS Document */

section{
	width: 960px;
}

h2{
	font-family: ext_Limelight, Limelight;
	color: #dba428;
	font-size: 30px;
	margin-top: 80px;
	margin-bottom: 90px;
}

#spiel_text{
	width: 320px;
	font-family: ext_Montserrat, Montserrat;
	color: white;
	float: left;
	margin-left: 80px;
	margin-right: 200px;
}

#Bild_Filmstreifen2{
	width: 258px;
	float: left;
	margin-bottom: 200px;
}