@charset "UTF-8";
@import "style.css";
/* CSS Document */

section{
	width: 960px;
	margin-bottom: 200px;
}
#Eroeffnungsstreifen{
	margin-top: 40px;
	margin-left: 250px;
	margin-bottom: 70px;
}

#home_text{
	width: 320px;
	font-family: ext_Montserrat, Montserrat;
	color: white;
	float: left;
	margin-left: 80px;
	margin-right: 200px;
}

#Bild_Filmstreifen{
	float: left;
	margin-bottom: 200px;
	width: 258px;	
}