@charset "UTF-8";
/* CSS Document */

/* Fonts! */
/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Montserrat.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin bold */
@font-face {
	font-family: 'Montserrat_bold';
	font-style: bold;
	font-weight: 700;
	src:url(fonts/Montserrat_bold.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin-ext */
@font-face {
  font-family: 'ext_Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ext_Montserrat.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext bold */
@font-face {
  font-family: 'ext_Montserrat_bold';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/ext.Montserrat_bold.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Limelight';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Limelight.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'ext_Limelight';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/ext_Limelight.woff2);
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Normal Links */
a{
	text-decoration: none;
	color: white;
}

/* Impressum, Datenschutz, AGB */
#impressum{
	font-family: ext_Montserrat, Montserrat;
	font-size: 12px;
	float: right;
	margin-right: 50px;
}

#daten{
	font-family: ext_Montserrat, Montserrat;
	font-size: 12px;
	float: right;
	margin-right: 50px;
}

#agb{
	font-family: ext_Montserrat, Montserrat;
	font-size: 12px;
	float: right;
}

/* Header */

header{
	margin-top: 50px;
}

#logo{
	width: 295px;
	height: auto;
	margin-top: 20px;
	margin-left: 330px;
}

/* Navigation Bar */

nav{
	width: 960px;
	background-color: #dba428;
	height: 40px;
	position: relative;
}

ul{
	list-style: none;
	padding: inherit;
}

li{
	float: left;
	width: 156px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	color: black;
	border: 2px solid black;
}

.nav_link li a{
	font-family: ext_Limelight, Limelight;
	color: black;
}

/* über irgend einem Punkt hovern */
.nav_link li:hover{		
	background-color: black;
	border: 2px solid #dba428;
}
.nav_link li:hover a{
	color: #dba428;
}

/* Untermenü*/
.nav_link li ul{
	padding-top: 1px;
	margin-left: -2px;
	padding: 0px;
}

.nav_link li ul li{
	display: none;
	clear: left;
}

/* Navigations Bar Hover */
/* wenn man über Das Spiel hovert untermenü zeigen*/
.nav_link li:hover ul li{	
	display: block;
	text-align: center;
	background-color: black;
	color: #dba428;
	border: 2px solid #dba428;
	height: 38px;
}

/* über einen der unterpunkte */
.nav_link li ul li:hover{
	background-color:#dba428;
}

.nav_link li ul li:hover a{
	color: black;
}

/* Body */
body{
	background-color: black;
	width: 960px;
	margin: auto;
}

/* Footer */
footer{		/* keep it consistent, das ding heißt "footer" nicht "Footer"*/
	float: left;
	margin-top: 120px;
	width: 960px;
	height: 100px;
	border: 2px solid #dba428;
	box-sizing: border-box;
}

#foot_nav{
	width: 100%;

}
#foot_nav li{
	float: left; /*Ich lasse das hier drinne, aber es hat eigentlich keinen Sinn
	weil er das float verwenden wird von li und das ist schon left, aber falls li sich
	ändert nimmt er immer das spezifischste und das ist halt hier*/
	font-family: ext_Montserrat, Montserrat;
	font-size: 16px;
	width: 117px;
	height:45px;
	margin-top: -16px;
	border: 2px solid #dba428;
	border-left-style: none;
	border-top-style: none;
}

#foot_nav li:last-child{
	border-right-style: none;
	width: 123px;
}

#foot_kontakt{
	font-family: ext_Montserrat, Montserrat;
	font-size: 10px;
	color: white;
	float: left;
	margin-top: 18px;
	margin-left: 10px
}

#kontakt_titel{
	font-family: ext_Montserrat_bold, Montserrat_bold;
}

#rights{
	font-family: ext_Montserrat, Montserrat;
	font-size: 10px;
	color: white;
	float: left;
	margin-left: 250px;
	margin-top: 30px;
}

#agb_foot{
	font-family: ext_Montserrat, Montserrat;
	font-size: 10px;
	float: right;
	margin-top: 30px;
}

#daten_foot{
	font-family: ext_Montserrat, Montserrat;
	font-size: 10px;
	float: right;
	margin-left: 55px;
	margin-top: 30px;
}

#impressum_foot{
	font-family: ext_Montserrat, Montserrat;
	font-size: 10px;
	float: right;
	margin-left: 55px;
	margin-top: 30px;
	margin-right: 10px;
}